
<div class="menu-container">
  <nav class="menu">
    <a href="#home" >
      <img class="menu-logo" src="../../../../../assets/logo-nome250.png" alt="logo-site">
    </a>

    <ul class="menu-links">
      <li class="menu-link">
        <a href="#home">Home</a>
      </li>
      <li class="menu-link">
        <a href="#sobre">Sobre</a>
      </li>
      <li class="menu-link">
        <a href="#experiencias">Experiencias</a>
      </li>
      <li class="menu-link">
        <a href="#portifolio">Portifolio</a>
      </li>
      <li class="menu-link">
        <a href="#contato">Contato</a>
      </li>
    </ul>
  </nav>
</div>


