.container-projetos{
  width: 100%;
  height: 100vh;
  background: var(--grey-light);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin: 60px 0 25px 0;
    font-size: 50px;
    color: var(--black-010);
    font-family: "Alata" , sans-serif;
  }
}

.card-projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

ul {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  li {
    //flex: 20%;
    width: 400px;
    height: 300px;
  }
}

.card-projetos {

  width: 80%;
  height: 100%;
  padding: 0 15px;

  cursor: pointer;

  background: var(--white);
  border: 2px solid var(--primary);
  border-radius: 7px;
  transition: 0.5s;
  &:hover {
    border: 2px solid var(--primary-010);
  }


  h3 {
    font-family: "Alata", sans-serif;
    color: var(--black-010);
  }

  p {
    padding-top: 15px;
    text-align: center;
  }

  img{
    width: 80px;
    height: 70px;
    border-radius: 10px;
  }

  .btn-links {
    display: inline-block; /* Corrige o problema de tamanho */
    width: 110px;
    height: 20px;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    font-family: "Alata", sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s all;
  }

  .btn-links:hover{
    background: var(--primary-010);
    color: #111111;
  }
}

