

<!-- menu -->
 <app-menu></app-menu>


<!-- header -->
<app-header/>

<!-- main -->
<main>

  <!-- tencologias conhecidas -->
  <app-knowledge />

  <!-- experiencias -->
  <app-experiencias/>

  <!--- (defer) como é um componente pesado
        ele só vai renderizar quando o scrool do mouse   chegar   -->
  @defer (on viewport) {
    <app-projetos />

  }@placeholder { <!-- se demorar ele vao ostrar essa imagem -->
    <section>
      <h2>Carregando todos os projetos desenvolvidos...</h2>
    </section>
  }@error { <!-- se houver um erro -->
    <section>
      <h2>Ocorreu um erro no dowload do componente, tente novamente...</h2>
    </section>
  }

  <!-- contato -->
  <app-contato/>

</main>
