
<div class="container-header">

  

</div>
<header>
  <img
     src="../../../../../assets/fotoperfil.jpg"
     alt="Dener Pelizario - Foto de Perfil"
     width="130px"
     height="130px"
     loading="eager"
     >
  <h1>Dener Pelizario</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
    <p>Guarulhos, São Paulo, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software mais de 10 anos. Devido isso
      resolvi abraçar a stack JS pois atua no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <!-- Dowload CV -->
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <!-- Rede Social -->
        <li>
          <a
            href="https://www.linkedin.com/in/denervalpelizariodev/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <!-- Section -->
    <section>

      <!-- Figure do whatts-->
      <figure>
        <img
          src="../../../../../assets/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption> <!-- legenda da figure -->
          <!-- a legenda é um link para meu whatts -->
          <a
            href="https://api.whatsapp.com/send?phone=5511940124694&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) 9 4012-4694</p>
          </a>
        </figcaption>
      </figure>

      <!-- Figure do email -->
      <figure>
        <img
          src="../../../../../assets/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption> <!-- legenda da figure do email -->
          <a href="mailto:denervalspelizario@gmail.com.br" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>denervalspelizario&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>


  </div>
</aside>


