
<div class="container-header">

  <div class="container-header-intern">
    <header class="header-img">
      <img
        *ngIf="!isMobile"
         src="../../../../../assets/fotoperfil.png"
         alt="Dener Pelizario - Foto de Perfil"
         loading="eager"
         class="header-img-perfil"
         >
      <img
        *ngIf="isMobile"
        src="../../../../../assets/foto-perfil-mobile.png"
        alt="Dener Pelizario = Foto de Perfil"
        class="header-img-perfil">


    </header>

    <aside class="container-aside" id="sobre">
      <div class="container">
        <h1 class="container-titulo">Dener Pelizario</h1>
        <p class="container-paragrafo">Full-Stack Javascript | Angular | C# | .NET </p>
        <p class="container-paragrafo">Mogi das Cruzes, São Paulo, Brasil</p>
        <p class="container-paragrafo">
          Especialista em criação de sites e soluções web
        </p>

        <nav>
          <ul class="container-links">
            <!-- Dowload CV -->
             <li>
                <a href="assets/pdf/cv.pdf"
                  target="_blank"
                  class="btn-links">
                  Download CV
                </a>
             </li>
            <!-- Rede Social -->
            <li>
              <a
                href="https://www.linkedin.com/in/denervalpelizariodev/"
                target="_blank"
                class="btn-links"
              >
                LinkedIn
              </a>
            </li>
          </ul>
        </nav>

        <!-- Section -->
        <section class="container-figures">

          <!-- Figure do whatts-->
          <figure>
            <img
              src="../../../../../assets/icons/whatsapp.svg"
              alt="Ícone para contato do WhatsApp"
              width="22px"
              height="24px"
              class="icone-whats"

            />

            <figcaption> <!-- legenda da figure -->
              <!-- a legenda é um link para meu whatts -->
              <a
                href="https://api.whatsapp.com/send?phone=5511940124694&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20orçamento!"
                target="_blank"
                class="figure-link"
              >
                <strong>Envie uma menssagem para:</strong>
                <p>WhatsApp: (11) 9 4012-4694</p>
              </a>
            </figcaption>
          </figure>

          <!-- Figure do email -->
          <figure>
            <img
              src="../../../../../assets/mail.svg"
              alt="Ícone para contato do e-mail"
              width="22px"
              height="24px"
              class="icone-email"
            />

            <figcaption> <!-- legenda da figure do email -->
              <a
                href="mailto:denervalspelizario@gmail.com.br"
                target="_blank"
                class="figure-link">
                <strong>Envie uma e-mail para:</strong>
                <p>denervalspelizario&#64;gmail.com</p>
              </a>
            </figcaption>
          </figure>
        </section>
      </div>
    </aside>
  </div>
</div>


