/*
  :host permite que você estilize um componente web de forma isolada, como se fosse um "quarto especial" dentro da sua página, com suas próprias regras de decoração.
*/


:host {

  .container-header {
    padding: 50px 0 0px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--white);
  }

  .container-header-intern {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;

  }

  .container-titulo {
    font-size: 60px;
    margin-bottom: 20px;
    color: #111111;
    font-family: "Alata";
    text-align: center;
  }

  .container {
    width: 100%;
  }

  .header-img-perfil {
    position: relative;
    top: 25px;
    width: 400px;
  }

  .header-img{
    margin-left: 50px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grey-light);
    border-radius: 80px  80px 0px 0px;
  }


  .container-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

  }

  .btn-link {
    width: 50px;
  }

  .btn-links {
    display: inline-block; /* Corrige o problema de tamanho */
    width: 110px;
    height: 20px;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    font-family: "Alata", sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-links:hover{
    background-color: var(--grey-light);
    color: #111111;
  }

  .icone-whats{
    width: 25px;
    height: 25px;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 20%;
  }

  .icone-email{
    width: 25px;
    height: 25px;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 20%;
  }

  section {
    display: flex;
    flex-direction: column;

    figure {
      width: 335px;
      height: 60px;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      border: 1px solid var(--grey-light);
      border-radius: 7px;

      figcaption {
        a {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          p {
            margin: 3px 0;
          }

          strong {
            color: var(--blue);
          }
        }
      }
    }
  }

  .container-paragrafo{
    text-align: center;
  }

  .container-figures, .container-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  nav {
    margin: 20px 0;
  }

  .figure-link {
    width: 240px;
    height: 45px;
  }

  @media (max-width: 1150px) and (min-width: 751px) {

    .container-header {
      //padding: 0px;
    }
    .container-header-intern {
      flex-direction: column-reverse;
    }

    .container-aside {
      margin-right: 0px;
    }

    .container-titulo{
      font-size: 50px;
    }

    .header-img {
      margin-left: 0px;
      background: var(--white);
    }

    .header-img-perfil{
      background: var(--white);
    }

  }

  @media (max-width: 750px) {


    .container-header-intern {
      flex-direction: column-reverse;
    }

    .container-aside {
      margin-right: 0px;
    }

    .container-titulo {
      font-size: 38px;
    }



    .header-img {
      width: 250px;
      height: 250px;
      margin-left: 0px;
      background: var(--white);
    }

    .header-img-perfil{
      width: 250px;
    }

    .btn-links {
      width: 90px;
      font-size: 14px;
    }

    section {
      figure {
        width: 300px;
      }
    }

    .icone-whats{
      width: 16px;
      height: 16px;
    }

    .icone-email{
      width: 16px;
      height: 16px;
    }


  }
}
